body {
    margin: 0;
    padding: 0;
    background-image: url("../img/btravaux.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    
}

.parent {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10% 0% 7% 0%; 
}

.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    font-family: sans-serif;
    border-radius: 18px;
    background-color: #fff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
}

.card-image-un {
    grid-area: image;
    border-radius: 15px 15px 0px 0px;
    border-bottom: solid 2px grey;
}
.img-c-un{
    background-image: url("../img/balade.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: solid 2px grey;
  
}
.img-c-deux{
    background-image: url("../img/Bootstrap.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: solid 2px grey;

}

.img-c-trois{
    background-image: url("../img/calendrier.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: solid 2px grey;

}
.img-c-quatre{
    background-image: url("../img/porte.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: solid 2px grey; 
}
.img-c-cinq{
    background-image: url("../img/foodfor.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: solid 2px grey; 
}
.img-c-six{
    background-image: url("../img/forms.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: solid 2px grey; 
}
.img-c-sept{
    background-image: url("../img/Lettre.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: solid 2px grey; 
}
.img-c-huit{
    background-image: url("../img/liste.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: solid 2px grey; 
}
.img-c-neuf{
    background-image: url("../img/mbolo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: solid 2px grey; 
}
.img-c-dix{
    background-image: url("../img/meteo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: solid 2px grey; 
}
/* ************************** image background en haut ****************************/
.card-text {
    grid-area: text;
    margin: 25px;
}

.fleche{
    bottom: 50%;
    position: fixed;
    height:25px;
    transition: 0.5s;
}

.card-text p {
    color: grey;
    font-size: 15px;
    font-weight: 300;
}

.card-text h2 {
    /* margin-top: 5px; */
    font-size: 1.6em;
    text-shadow: 5px 5px 15px rgba(51, 51, 51, 0.9);
    
    
}

.card-stats-un {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-radius: 0px 0px 15px 15px;
    background-color: rgb(248, 15, 112);
}

.card-stats-un .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: #fff;
}

.card-stats .type {
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.card-stats .value {
    font-size: 22px;
    font-weight: 500;
}

.card-stats .border {
    border: 1px solid white;
}

.card-stats .border-un {
    border: 1px solid white;
    border-radius: 0px 0px 0px 15px;
}

.card-stats .border-trois {
    border: 1px solid white;
    border-radius: 0px 0px 15px 0px;
}

.card-stats .value sup {
    font-size: 12px;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    ;
}

.back-grey{
    background-color: #34495e;

}
.back-red{
    background-color: #EA2027;

}
.back-bleu{
    background-color: #25CCF7;

}
.back-orange{
    background-color: orangered;

}
.back-vert{
    background-color: #2ecc71;
}
.color-grey{
    color: #34495e;
}
.color-red{
    color: #EA2027;
}
.color-bleu{
    color: #25CCF7;
}
.color-orange{
    color: orangered;
}
.color-vert{
    color: #2ecc71;
}
a{
    color: white;
    font-size: 1em;
    text-decoration: none;   
}
a:hover{
    text-decoration: underline;
    color: #000;
    transition: ease 2s;
    background-color: #fff;
    padding: 2px 4px;
    border-radius: 2px;
    font-weight: 700;
}

